
<?xml version="1.0"?>
<launch>
    <!--node pkg="rosbag" type="play" name="player" args="--clock $(find centre_detector)/bags/image.bag --loop">
        <remap from="/magnus/camera/image_raw" to="image_raw"/>
    </node-->

    <rosparam file="$(find find_centre)/cfg/params.yaml" command="load"/>

    <node pkg="find_centre" type="findc_node" name="findc_node"/>
</launch>
